@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body {
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

/* MENU DE NAVEGAÇÃO */

  header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#fff;
    padding: 5px 100px;
    z-index: 99;
  }

  .logo {
    color: red;
    font-size: 2em;
    display: flex;
    user-select: none;
  }

  .logo span {
    margin-left: 10px;
    color: blue;
  }

  .menu a {
    font-size: 1.1em;
    color: blue;
    font-weight: 300;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
    font-weight: 500;
  }

  .menu a:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: red;
    border-radius: 5px;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
}

.menu a:hover::after {
  transform-origin: center;
  transform: scaleX(1);
}

.menu .btn-login-popup {
  width: 115px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 1.1em;
  background-color: transparent;
  color: blue;
  border: 2px solid yellow;
  cursor: pointer;
  margin-left: 40px;
  font-weight: 500;
  z-index: 99;
}

.menu .btn-login-popup:hover {
  width: 115px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 1.1em;
  background-color: red;
  color: #fff;
  border: 2px solid red;
  cursor: pointer;
  margin-left: 40px;
  font-weight: 500;
  z-index: 99;
}

  .btn-login {
    width: 100px;
    height: 40px;
    margin: 20px;
    padding: 0 20px;
    border-radius: 5px;
    background-color: transparent;
    color: blue;
    border: 2px solid yellow;
    cursor: pointer;
    font-weight: 600;
    z-index: 99;
  }

  @media screen and (max-width: 768px) {
    .btn-login {
      margin: 10px;
      padding: 0 10px;
    }
  }
/* FORMULARIO DE LOGIN */

main {
  position: relative;
  width: 350px;
  height: 400px;
  background-color: transparent;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  border: solid 2px yellow;
  justify-content: center;
  border-radius: 10px;
}

main a {
  text-decoration: none;
  color: yellow
}

main input {
  background: transparent;
  /* border-top: 0; */
  /* border-left: 0; */
  /* border-right: 0; */
  border: none;
  border-bottom: solid 2px;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

main h2 {
  text-align: center;
  color: blue;
  margin-bottom: 10px;
}

.input-box .icon {
  position: absolute;
  right: 33px;
  font-size: 1.2em;
  color: #162938; 
  line-height: 32px;
}

.lembrar-senha {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente */
  justify-content: space-between; /* Distribui os itens igualmente */
  margin-top: 10px; /* Adiciona um espaço entre os inputs e os elementos abaixo */
  font-size: 12px;
}

.lembrar-senha label {
  color: black;
  font-size: 12px;
  display: flex;
  white-space: nowrap; 
}

.lembrar-senha a {
  text-decoration: none;
  color: black;
}


input::placeholder {
  color: blue;
}