@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  body {
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    background: url(../images/estadio.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: darkgray; */
    padding: 20px;
    z-index: 99;
  }

  h2.logo {
    font-size: 2em;
    color: white;
  }

  nav.menu a {
    font-size: 1em;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
    font-weight: bold;
  }

  .btn-login {
    width: 100px;
    height: 40px;
    margin: 40px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    font-weight: 600;
  }

main {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: transparent;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  border: solid 1px white;
  justify-content: center;
}
